<div class="form-conatiner">
    <div class="form-control-cls">
        <label class="header-label font-regular">Name</label>
        <input type="text" id="name" placeholder="Enter Name">
    </div>
    <div class="form-control-cls mr-20">
        <label class="header-label font-regular">Email</label>
        <input type="email" id="email" placeholder="Enter Email">
    </div>
    <div class="form-control-cls mr-20">
        <label class="header-label font-regular">Phone Number</label>
        <input type="number" id="phoneNumber" placeholder="Enter Phone Number">
    </div>
    <div class="form-control-cls mr-20">
        <label class="header-label font-regular">Password</label>
        <input type="password" id="fname" placeholder="Enter Password">
    </div>
    <div class="form-control-cls mr-20">
        <label class="header-label font-regular">Confirm Password</label>
        <input type="password" id="confirmPassword" placeholder="Enter Confirm Password">
    </div>
    <div>
        <button class="btn-save font-regular">
            SAVE
        </button>
    </div>
</div>